.div{text-align:justify;
margin-left: 10%;
margin-right: 10%;
margin-top: 20%;}

.entry{
    
   
        margin-top: 30px;
        border-radius: 20px;
        background-color: white;
        border: grey solid 0.05px;
        width: 100px;
        height: 40px;
}
      
        .entry:hover{
            box-shadow: 1px 1px 1px 1px grey;
          }
    